@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import "src/generated/sprites";
@import "src/components/components";

html, body {
  width: 100%;
  min-height: 100%;
}

#react-root {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
